body {
    margin: 0;
    background-color: #f6f2ef;
    font-size: 0.17rem;
}
.informationcard {
	margin: 0 auto;
    width: 90%;
    margin-top: 0.12rem;
    position: relative;
}
.membershipcard {
	width: 100%;
	box-shadow: 0.08rem 0.16rem 0.16rem #d9d9d8;
}
.pen {
    width: 0.3rem;
    position: absolute;
    right: 0;
    margin-top: -0.1rem;
    margin-right: -0.1rem;
}
.infoaera {
	position: absolute;
	font-size: 0.1rem;
	color: #ffffff;
	top: 45%;
    left: 10%;
}
.mymenu {
	margin: 0 auto;
    width: 90%;
    margin-top: 0.25rem;
    border-radius: 0.04rem;
    box-shadow: 0.01rem 0.01rem 0.1rem #d9d9d8;
    font-size: 0.13rem;
    color: #fe7100;
    line-height: 0.3rem;
}
.bottomline {
    border-bottom: 1px solid #e0dddb;
}
.menuicon {
	width: 0.1rem;
    vertical-align: middle;
    margin-top: -0.03rem;
    padding-left: 0.1rem;
}
.menuarrow {
	width: 0.08rem;
    padding-left: 65%;
}
.messagestyle {
    width: 0.12rem;
    padding-left: 0.08rem;
}