body {
    margin: 0;
    background-color: #f6f2ef;
}
.usermessage {
	margin: 0 auto;
    width: 90%;
    background-color: #f6f2ef;
    border: 1px solid transparent;
    border-radius: 0.04rem;
    box-shadow: 0.01rem 0.01rem 0.2rem #d9d9d8;
    font-size: 0.15rem;
    margin-top: 0.06rem;
    text-align: center;
}
.packs {
	width: 85%;
	height: 0.4rem;
	border: 1px solid transparent;
	border-radius: 0.04rem;
	margin: 0.1rem;
	box-shadow: -0.01rem -0.01rem 0.2rem #d9d9d8;
	padding-left: 5%;
	outline: none;
}
.remarksheight {
	height: 0.8rem;
}
input {
	font-size: 0.15rem;

}
.valuecolor {
	color: #cccccc;
}
.button {
	font-size: 0.17rem;
	text-align: center;
	margin-top: 0.35rem;
}
button {
	width: 90%;
	height: 0.35rem;
	background-color: #fe7100;
	font-size: 0.17rem;
	border: transparent;
	color: #fffefe;
	border-radius: 1rem;
	outline: none;
}
textarea {
	width: 82%;
	height: 0.4rem;
	border: 1px solid transparent;
	border-radius: 0.04rem;
	margin: 0.1rem;
	box-shadow: -0.01rem -0.01rem 0.2rem #d9d9d8;
	padding: 5%;
	font-size: 0.15rem;
    padding-top: 0.15rem;
    resize:none;
    outline: none;
    overflow: hidden;
}
