body {
	width: 100%;
    margin: 0;
    background-color: #f6f2ef;
    font-size: 0.15rem;
}
.banner {
	margin: 0 auto;
    width: 90%;
    margin-top: 0.06rem;   
}
.bannerstyle {
	width: 100%;
}
.promptbox {
	width: 90%;
	margin: 0 auto;
	background-color: #fff1b0;
	border: 1px solid transparent;
	border-radius: 0.04rem;
	margin-top: 0.06rem;
	margin-bottom: 0.2rem;
	box-shadow: -0.01rem -0.01rem 0.2rem #d9d9d8;
}
.tips {
	margin: 0;
	font-size: 0.12rem;
	color: #fe7c00;
	padding: 0.05rem 0.11rem;
    display: inline-block;
    padding-left: 0;
}
.home_speaker {
	height: 0.12rem;
	vertical-align: middle;
}
.pictureposition {
	display: inline-block;
    margin-left: 5%;
}
.button {
	font-size: 0.17rem;
	text-align: center;
	margin-top: 0.35rem;
}
button {
	width: 90%;
	height: 0.35rem;
	background-color: #fe7100;
	font-size: 0.17rem;
	border: transparent;
	color: #fffefe;
	border-radius: 1rem;
	outline: none;
}
.billbox {
	margin: 0 auto;
    width: 90%;
    background-color: #f6f2ef;
    border: 1px solid transparent;
    border-radius: 0.04rem;
    box-shadow: 0.01rem 0.01rem 0.2rem #d9d9d8;
    font-size: 0.15rem;
    padding: 0.05rem 0;
}
.smallbutton {
	background-color: #f4f0ed;
	width: 40%;
	color:#686868;
	box-shadow: 0.01rem 0.01rem 0.2rem #d9d9d8;
	position: absolute;
}
.boardingvisit {
	left: 5%;
}
.projectview {
	right: 5%;
}
.pricetag {
	font-size: 0.25rem;
	text-align: center;
}
.billboxwidth {
	width: 48%;
	display: inline-block;
}
.pricenumb {
	margin: 0;
}
.pricelabel {
	margin: 0;
	font-size: 0.17rem;
}
.pending {
	border-right: 1px solid #686868;
}
.population {
	margin: 0 auto;
    width: 90%;
    margin-bottom: 0.2rem;
}
.popstyle {
	font-size: 0.15rem;
	width:30%;
	display: inline-block;
	padding: 0.05rem 0;
}
.popdisplay {
	width: 18%;
	font-size: 0.15rem;
	display:inline-block;
	color: #fe7100;
	box-shadow: -0.01rem -0.01rem 0.2rem #d9d9d8;
	border-radius: 0.04rem;
	text-align: center;
}
.pleft {
	padding-left: 2.6%;
}
table {
	width: 100%;
}